<p id="notice"><%= notice %></p>
      
<p>
  <b>Evaluating field:</b>
  <%= @templete.Evaluating_field %>
  
  
</p>

<p>
  <b>1:</b>
  <%= @templete.Query_No_1 %>
</p>

<p>
  <b>2:</b>
  <%= @templete.Query_No_2 %>
</p>

<p>
  <b>3:</b>
  <%= @templete.Query_No_3 %>
</p>

<p>
  <b>4:</b>
  <%= @templete.Query_No_4 %>
</p>

<p>
  <b>5:</b>
  <%= @templete.Query_No_5 %>
</p>

<p>
  <b>6:</b>
  <%= @templete.Query_No_6 %>
</p>

<p>
  <b>7:</b>
  <%= @templete.Query_No_7 %>
</p>

<p>
  <b>8:</b>
  <%= @templete.Query_No_8 %>
</p>

<p>
  <b>9:</b>
  <%= @templete.Query_No_9 %>
</p>

<p>
  <b>10:</b>
  <%= @templete.Query_No_10 %>
</p>


<%= link_to 'Edit', edit_templete_path(@templete) %> |
<%= link_to 'Back', templetes_path %>
