<% if notice %>
<p id="notice"><%= notice %></p> 
<% end %>
<% @users.each do |user| %>
  <p>User: <%=link_to user.name, user %></p>
<% end %>

<h2>Welcome to Online Evaluation Application</h2>
<br/>
<br/>

<h4><%= link_to "Evaluate Using Existing Templetes", static_pages_course_path %></h4>
<p>Here are some templetes created by previous user and you can use them.</p>

<br/>
<br/>

<h7>----------------------------------------------------------------------</h7>
<p>Or you can</p>
<h4><%= link_to 'Create your own evalutaion templetes', new_templete_path %></h4>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>


<%
=begin %>

<% @templetes.each do |templete| %>
  <div class="entry">
   
    <h3><%= templete.Evaluating_field %><%= link_to ' Evaluation', new_course_path %>
    </h3>
 </div>
 <% end %>
 <% @courses.each do |course| %>
  <div class="entry">
  <%= button_to 'Evaluate', new_course_path %>
 </div>
 <% end %>

<%
=end %>


<p></p>
