<p id="notice"><%= notice %></p>

<p>
  <b>Evaluating field:</b>
  <%= @answer.Evaluating_field %>
</p>

<p>
  <b>Query no 1:</b>
  <%= @answer.Query_No_1 %>
</p>

<p>
  <b>Query no 2:</b>
  <%= @answer.Query_No_2 %>
</p>

<p>
  <b>Query no 3:</b>
  <%= @answer.Query_No_3 %>
</p>

<p>
  <b>Query no 4:</b>
  <%= @answer.Query_No_4 %>
</p>

<p>
  <b>Query no 5:</b>
  <%= @answer.Query_No_5 %>
</p>

<p>
  <b>Query no 6:</b>
  <%= @answer.Query_No_6 %>
</p>

<p>
  <b>Query no 7:</b>
  <%= @answer.Query_No_7 %>
</p>

<p>
  <b>Query no 8:</b>
  <%= @answer.Query_No_8 %>
</p>

<p>
  <b>Query no 9:</b>
  <%= @answer.Query_No_9 %>
</p>

<p>
  <b>Query no 10:</b>
  <%= @answer.Query_No_10 %>
</p>


<%= link_to 'Edit', edit_answer_path(@answer) %> |
<%= link_to 'Back', answers_path %>
